@import 'mixins';

.achievementBar {
  background-color: $footer-color;
  bottom: 0;

  cursor: default;

  height: 100px;
  overflow-x: scroll;

  overflow-y: hidden;

  position: fixed;

  text-align: center;

  white-space: nowrap;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }

  .achievement {
    @include inline();

    height: 80px;
    margin: 10px;

    width: 80px;

    .locked {
       -webkit-filter: brightness(0%);
       -moz-filter: brightness(0%);
       -o-filter: brightness(0%);
       -ms-filter: brightness(0%);
       filter: brightness(0%);
     }

    .unlocked {
    }
  }
}
