@import 'mixins';

.achievement-bar {
  background-color: $footer-color;
  bottom: 0;

  cursor: default;

  height: 100px;
  overflow-x: scroll;
  overflow-y: hidden;

  position: fixed;

  text-align: center;

  white-space: nowrap;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }

  .achievement {
    @include inline();

    height: 80px;
    margin: 10px;

    width: 80px;

    .locked {
      filter: brightness(0%);
      -ms-filter: brightness(0%);
      -webkit-filter: brightness(0%);
      -moz-filter: brightness(0%);
      -o-filter: brightness(0%);
    }

    .unlocked {
    }
  }
}

.notification {
  background-color: #000;
  bottom: 100px;

  color: #fff;
  height: 0px;

  position: fixed;

  text-align: center;
  transition: height 0.5s linear;

  -moz-transition: height 0.5s linear;
  -ms-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  -webkit-transition: height 0.5s linear;
  width: 100%;
  z-index: 3;

  line-height: 50px;
  overflow-y: hidden;
}

.notification.open {
  height: 50px;
  transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  -ms-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  -webkit-transition: height 0.5s linear;
}
