@import 'mixins';

.achievementBar {
  position: fixed;
  z-index: 1;

  bottom: 0;

  height: 100px;
  width: 100%;
  
  background-color: $footer-color;

  text-align: center;
}

.achievement {
  display: inline-block;
  margin: 10px;

  height: 80px;
  width: 80px;

  background-color: #fff;
}
