@import 'mixins';

.achievement-bar {
  background-color: $footer-color;
  bottom: 0;

  cursor: default;

  height: 100px;
  overflow-x: scroll;
  overflow-y: hidden;

  position: fixed;

  text-align: center;

  white-space: nowrap;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }

  .achievement {
    @include inline();

    height: 80px;
    margin: 10px;
    width: 80px;

    .locked {
      filter: brightness(3%);
      -ms-filter: brightness(3%);
      -webkit-filter: brightness(3%);
      -moz-filter: brightness(3%);
      -o-filter: brightness(3%);
    }

    .unlocked {
    }
  }
}

.notification {
  background-color: $secondary-color;
  bottom: 100px;

  color: #fff;
  height: 0px;

  overflow-y: hidden;

  position: fixed;
  text-align: center;

  transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  -ms-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  -webkit-transition: height 0.5s linear;
  width: 100%;

  z-index: 3;

  .text {
    @include custom-font();

    font-size: 40px;

    height: 200px;
    margin-top: 100px;
  }

  @media #{$desktop-only} {
    .text {
      font-size: 20px;
      height: 80px;
      margin-top: 25px;
    }
  }
}

.notification.open {
  height: 300px;

  @media #{$desktop-only} {
    height: 100px;
  }
  transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  -ms-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  -webkit-transition: height 0.5s linear;
}
