$bg-color: #ffffff;
$header-color: #2c3e50;
$secondary-color: #18bb9b;
$title-color: #ffffff;
$font-color: #000;
$p-color: #000000;
$highlight-color: #FFA024;
$link-color: #78C0A8;
$border-color: #2c3e50;

$button-color: #78C0A8;
$button-text-color: #fff;
$button-dark-color: #b2591a;
$button-light-color: #FFA024;
$hamburger-color: #fff;

$footer-color: #2c3e50;

$desktop-only: "only screen and (min-width: 1310px)";

@mixin custom-font() {
  font-family: 'Montserrat', sans-serif;
}

@mixin no-margins() {
  padding: 0;
  margin: 0;
}

@mixin inline() {
  display: inline-block;
  vertical-align: top;
}

@mixin no-select() {
  cursor: default;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin bevel() {
}
