@import 'mixins';

.closeNav {
  height: 100%;

  position: fixed;
  width: 100%;

  z-index: 2;
}

@media #{$desktop-only} {
  .closeNav {
    width: 0;
    height: 0;
  }
}

header {
  @include no-margins();
  @include custom-font();

  background-color: $header-color;
  height: 100px;

  min-width: 395px;
  position: fixed;
  text-align: center;

  width: 100%;

  z-index: 2;

  .container {
    margin: auto;
    max-width: 1236px;
  }

  .title {
    @include no-margins();

    color: $title-color;

    float: left;
    margin-left: 30px;
    margin-top: 10px;

    text-align: left;

    width: 230px;

    h1 {
      @include no-margins();

      font-size: 27px;

      font-weight: normal;
    }

    h2 {
      @include no-margins();
      font-size: 25px;
      font-weight: normal;
    }
  }

  @media #{$desktop-only} {
    .title {
      margin-top: 10px;
      margin-left: 35px;

      width: 250px;

      h1 {
        @include no-margins();
        font-size: 25px;
      }

      h2 {
        @include no-margins();
        font-size: 21px;
      }
    }
  }

  nav {

    @include no-margins();

    position: fixed;
    right: 0;

    top: 100px;
    width: 340px;
    z-index: 3;

    ul {
      @include no-margins();

      list-style: none;

    }

    li {
      @include no-margins();

      height: 100px;
      line-height: 100px;
      text-align: center;

      vertical-align: middle;
      width: 350px;

      background-size: 100% 200%;
      background-position: 0 -100%;
      background-image: linear-gradient(to bottom, $secondary-color 50%, $header-color 50%);
      -webkit-transition: background-position 0.25s;
      -moz-transition: background-position 0.25s;
      transition: background-position 0.25s;
    }

    li:hover {
      background-position: 0 0;
    }

    a {
      color: $button-text-color;

      display: block;
      font-size: 50px;
      height: 100%;

      text-decoration: none;

      width: 100%;
    }
  }

  @media #{$desktop-only} {
    nav {
      @include inline();

      position: static;
      float: right;

      width: 840px;

      li {
        @include inline();

        width: 168px;
        height: 75px;
        line-height: 75px;
      }

      a {
        font-size: 35px;
      }
    }
  }

  .hamburger {
    @include no-select();

    background-color: $button-color;
    background-size: 100px 100px;
    color: $hamburger-color;

    float: right;
    font-size: 80px;

    height: 100px;

    line-height: 100px;
    width: 100px;
  }

  @media #{$desktop-only} {
    .hamburger {
      display: none;
    }
  }
}

@media #{$desktop-only} {
  header {
    position: static;
    height: 75px;
  }
}

.content {
  margin: auto;
  padding: 100px 0;

  width: 100%;
}

@media #{$desktop-only} {
  .content {

    max-width: 1342px;
    padding: 0 0 100px 0;
  }
}

.showNav {
  display: block;
}

.hideNav {
  display: none;
}

@media #{$desktop-only} {
  .hideNav {
    display: block;
  }
}

.link-selected {
  background-color: $secondary-color;
}
