@import 'mixins';

.closeNav {
  position: fixed;

  width: 100%;
  height: 100%;

  z-index: 2;
}

@media #{$desktop-only} {
  .closeNav {
    display: none;
  }
}

header {
  @include no-margins();
  @include pixel-font();

  position: fixed;
  z-index: 2;

  width: 100%;
  min-width: 395px;
  height: 100px;

  text-align: center;

  background-color: $header-color;

  .container {
    margin: auto;
    max-width: 1300px;
  }

  .title {
    @include no-margins();

    color: $title-color;

    margin-top: 10px;
    margin-left: 45px;
    float: left;

    width: 230px;

    text-align: left;

    h1 {
      @include no-margins();
      font-size: 40px;
      font-weight: normal;
    }

    h2 {
      @include no-margins();
      font-size: 35px;
      font-weight: normal;
    }
  }

  @media #{$desktop-only} {
    .title {
      margin-top: 10px;
      margin-left: 35px;

      width: 250px;

      h1 {
        @include no-margins();
        font-size: 25px;
      }

      h2 {
        @include no-margins();
        font-size: 21px;
      }
    }
  }

  nav {
    @include no-margins();

    position: fixed;
    z-index: 3;

    width: 340px;
    top: 100px;
    right: 0;

    ul {
      @include no-margins();

      list-style: none;

    }

    li {
      @include bevel();
      @include no-margins();

      width: 320px;
      height: 80px;
      line-height: 80px;

      text-align: center;
      vertical-align: middle;

    }

    a {
      color: $button-text-color;

      display: block;
      width: 100%;
      height: 100%;

      font-size: 50px;

      text-decoration: none;
    }
  }

  @media #{$desktop-only} {
    nav {
      @include inline();

      float: right;

      width: 900px;
      margin-right: 10px;

      position: static;

      li {
        @include inline();

        width: 200px;
        height: 65px;
        line-height: 65px;

        border-width: 5px;
      }

      a {
        font-size: 35px;
      }
    }
  }

  .showNav {
    display: block;
  }

  .hideNav {
    display: none;
  }

  @media #{$desktop-only} {
    .hideNav {
      display: block;
    }
  }

  .hamburger {
    @include bevel();
    @include no-select();

    float: right;
    width: 80px;
    height: 80px;

    line-height: 75px;
    font-size: 120px;

    color: $hamburger-color;

    background-color: $button-color;
    background-size: 100px 100px;
  }

  @media #{$desktop-only} {
    .hamburger {
      display: none;
    }
  }
}

@media #{$desktop-only} {
  header {
    position: static;
    height: 75px;
  }
}

.content {
  padding: 100px 0;
  margin: auto;

  width: 100%;
  max-width: 1300px;
}

@media #{$desktop-only} {
  .content {
    padding: 0 0 100px 0;
  }
}
