@import 'mixins';

.section-title {
  @include bevel();
  @include no-margins();
  @include pixel-font();

  cursor: default;

  font-size: 40px;
  font-weight: normal;

  height: 70px;

  line-height: 70px;
  margin: 0 auto;

  padding-left: 30px;

  text-transform: capitalize;
}

@media #{$desktop-only} {
  .section-title {
    width: 100%;
    max-width: 1196px;
  }
}

.preview-container {

  margin: 0 auto;

  max-width: 1290px;
  width: 100%;

  .project-preview {
    border: 2px solid $title-color;

    font-size: 20px;

    height: 325px;

    margin: 18px auto;

    min-width: 900px;
    position: relative;
    width: 90%;

    p {
      margin: 10px;
    }

    .image {
      border: solid 1px $header-color;

      float: left;

      height: 300px;

      margin: 10px 15px 10px 10px;
      position: relative;

      width: 350px;

      z-index: 1;
    }

    @media #{$desktop-only} {
      .image {
        margin: 10px;
      }
    }

    .title-bg {
      background-color: $header-color;

      height: 70px;

      position: absolute;
      top: 0;

      width: 100%;
    }

    @media #{$desktop-only} {
      .title-bg {
        height: 370px;
      }
    }

    .title {
      @include pixel-font();

      color: $title-color;

      font-size: 50px;

      padding-bottom: 20px;

      position: relative;

      z-index: 1;
    }

    @media #{$desktop-only} {
      .title {
        font-size: 40px;

        padding-bottom: 10px;
      }
    }

    .technologies-label {
      @include pixel-font();

      font-size: 35px;
    }

    @media #{$desktop-only} {
      .technologies-label {
        font-size: 25px;
      }
    }

    .technologies {
      color: $p-color;
      font-size: 24px;
      font-weight: bold;
    }

    @media #{$desktop-only} {
      .technologies {
        font-size: 18px;
      }
    }

    .description {
      color: $p-color;

      font-size: 20px;
      height: 140px;

      line-height: 20px;
      overflow: hidden;
    }

    @media #{$desktop-only} {
      .description {
        height: 60px;

        font-size: 14px;
      }
    }
  }

  @media #{$desktop-only} {
    .project-preview {
      @include inline();

      margin: 28px;

      width: 370px;
      min-width: 370px;
      height: 510px;

      font-size: 16px;
    }
  }
}
