@import 'mixins';

.back-button {
  @include bevel();
  @include no-margins();
  @include pixel-font();

  width: 200px;

  margin: 20px auto;

  text-align: center;
  text-transform: capitalize;

  font-weight: normal;
  font-size: 40px;

  cursor: pointer;
}

.project {
  position: relative;

  font-size: 20px;

  border: 2px solid $title-color;

  margin: 18px auto;

  min-height: 650px;

  width: 90%;
  min-width: 900px;

  span {
    @include no-margins();
  }

  p {
    padding: 0;
    margin: 0 30px 10px 30px;
  }

  h3 {
    @include no-margins();

    margin-left: 5%;

    font-weight: normal;
  }

  .title-bg {
    display: none;
  }

  @media #{$desktop-only} {
    .title-bg {
      display: block;
      @include no-margins();

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;

      height: 190px;

      background-color: $header-color;
    }
  }

  .main-container {
    position: relative;
    z-index: 1;

    background-color: $header-color;

    width: 100%;
  }

  @media #{$desktop-only} {
    .main-container {
      background-color: transparent;

      float: left;

      margin: 10px;

      width: 670px;
    }
  }

  .copy-container {
    .link-container {
      margin-top: -2px;
      padding-bottom: 10px;
      background-color: $header-color;
    }

    @media #{$desktop-only} {
      .link-container {
        margin-top: 30px;
        background-color: transparent;
      }
    }

    position: relative;
    z-index: 1;
  }

  .image {
    margin: 0 0 20px 5%;

    width: 90%;

    border: solid 1px $title-color;
  }

  @media #{$desktop-only} {
    .image {
      width: 600px;
    }
  }

  .title {
    @include pixel-font();

    font-size: 50px;

    z-index: 1;

    padding: 20px 0;

    color: $title-color;
  }

  .label {
    @include pixel-font();

    color: $title-color;

    font-size: 35px;
  }

  .technologies {
    color: $title-color;
    font-size: 24px;
    font-weight: bold;
  }

  a {
    color: $title-color;
    font-size: 24px;
    font-weight: bold;
  }

  .description {

    white-space: pre-line;

    margin: 30px;

    color: $p-color;
    font-size: 20px;
  }
}
