@import 'mixins';

.back-button {
  @include bevel();
  @include no-margins();
  @include custom-font();

  cursor: pointer;

  font-size: 40px;

  font-weight: normal;
  margin: 20px auto;

  text-align: center;
  text-transform: capitalize;

  width: 200px;
}

.project {
  border: 2px solid $title-color;

  font-size: 20px;

  margin: 18px auto;

  min-height: 650px;

  min-width: 900px;

  position: relative;
  width: 90%;

  span {
    @include no-margins();
  }

  p {
    margin: 0 30px 10px 30px;
    padding: 0;
  }

  h3 {
    @include no-margins();

    font-weight: normal;

    margin-left: 5%;
  }

  .title-bg {
    display: none;
  }

  @media #{$desktop-only} {
    .title-bg {
      display: block;
      @include no-margins();

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;

      height: 190px;

      background-color: $header-color;
    }
  }

  .main-container {
    background-color: $header-color;
    position: relative;

    width: 100%;

    z-index: 1;
  }

  @media #{$desktop-only} {
    .main-container {
      background-color: transparent;

      float: left;

      margin: 10px;

      width: 670px;
    }
  }

  .copy-container {
    min-height: 500px;
    @media #{$desktop-only} {
      min-height: 650px;
    }
    border: solid 1px #000;
    position: relative;
    z-index: 1;

    .link-container {
      background-color: $header-color;
      margin-top: -2px;
      padding-bottom: 10px;
    }

    @media #{$desktop-only} {
      .link-container {
        margin-top: 30px;
        background-color: transparent;
      }
    }

  }

  .image {
    border: solid 1px $title-color;

    margin: 0 0 20px 5%;

    width: 90%;
  }

  @media #{$desktop-only} {
    .image {
      width: 600px;
    }
  }

  .title {
    @include custom-font();

    color: $title-color;

    font-size: 50px;

    padding: 20px 0;

    z-index: 1;
  }

  .label {
    @include custom-font();

    color: $title-color;

    font-size: 25px;
  }

  .technologies {
    color: $title-color;
    font-size: 24px;
    font-weight: bold;
  }

  a {
    color: $title-color;
    font-size: 24px;
    font-weight: bold;
  }

  .description {

    color: $p-color;

    font-size: 20px;

    margin: 30px;
    white-space: pre-line;
  }
}
