@import 'mixins';

.bold {
  font-weight: bold;
}

html, body {
  @include no-margins();

  background-color: $bg-color;
  color: $font-color;
}

a {
  color: $link-color;
}

@import 'navigation';
@import 'project-preview';
@import 'achievements';
