@import url("https://fonts.googleapis.com/css?family=VT323");
html, body {
  padding: 0;
  margin: 0;
  background-color: #FCEBB6;
  font-family: sans-serif; }

a {
  color: #78C0A8;
  text-decoration: none; }

p {
  color: #000; }

.bold {
  font-weight: bold; }

.closeNav {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 2; }

@media only screen and (min-width: 1310px) {
  .closeNav {
    width: 0;
    height: 0; } }

header {
  padding: 0;
  margin: 0;
  font-family: 'VT323', monospace;
  background-color: #78C0A8;
  height: 100px;
  min-width: 395px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 2; }
  header .container {
    margin: auto;
    max-width: 1236px; }
  header .title {
    padding: 0;
    margin: 0;
    color: #112212;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    text-align: left;
    width: 230px; }
    header .title h1 {
      padding: 0;
      margin: 0;
      font-size: 40px;
      font-weight: normal; }
    header .title h2 {
      padding: 0;
      margin: 0;
      font-size: 35px;
      font-weight: normal; }
  @media only screen and (min-width: 1310px) {
    header .title {
      margin-top: 10px;
      margin-left: 35px;
      width: 250px; }
      header .title h1 {
        padding: 0;
        margin: 0;
        font-size: 25px; }
      header .title h2 {
        padding: 0;
        margin: 0;
        font-size: 21px; } }
  header nav {
    padding: 0;
    margin: 0;
    position: fixed;
    right: 0;
    top: 100px;
    width: 340px;
    z-index: 3; }
    header nav ul {
      padding: 0;
      margin: 0;
      list-style: none; }
    header nav li {
      background-color: #F07818;
      border-style: solid;
      border-width: 10px;
      border-color: #b2591a #FFA024 #FFA024 #b2591a;
      padding: 0;
      margin: 0;
      height: 80px;
      line-height: 80px;
      text-align: center;
      vertical-align: middle;
      width: 320px; }
      @media only screen and (min-width: 1310px) {
        header nav li {
          border-width: 5px; } }
    header nav a {
      color: #000;
      display: block;
      font-size: 50px;
      height: 100%;
      text-decoration: none;
      width: 100%; }
  @media only screen and (min-width: 1310px) {
    header nav {
      display: inline-block;
      vertical-align: top;
      position: static;
      float: right;
      width: 840px; }
      header nav li {
        display: inline-block;
        vertical-align: top;
        width: 200px;
        height: 65px;
        line-height: 65px; }
      header nav a {
        font-size: 35px; } }
  header .hamburger {
    background-color: #F07818;
    border-style: solid;
    border-width: 10px;
    border-color: #b2591a #FFA024 #FFA024 #b2591a;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #F07818;
    background-size: 100px 100px;
    color: #763317;
    float: right;
    font-size: 120px;
    height: 80px;
    line-height: 75px;
    width: 80px; }
    @media only screen and (min-width: 1310px) {
      header .hamburger {
        border-width: 5px; } }
  @media only screen and (min-width: 1310px) {
    header .hamburger {
      display: none; } }

@media only screen and (min-width: 1310px) {
  header {
    position: static;
    height: 75px; } }

.content {
  margin: auto;
  padding: 100px 0;
  width: 100%; }

@media only screen and (min-width: 1310px) {
  .content {
    max-width: 1342px;
    padding: 0 0 100px 0; } }

.showNav {
  display: block; }

.hideNav {
  display: none; }

@media only screen and (min-width: 1310px) {
  .hideNav {
    display: block; } }

.section-title {
  background-color: #F07818;
  border-style: solid;
  border-width: 10px;
  border-color: #b2591a #FFA024 #FFA024 #b2591a;
  padding: 0;
  margin: 0;
  font-family: 'VT323', monospace;
  cursor: default;
  font-size: 40px;
  font-weight: normal;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
  padding-left: 30px;
  text-transform: capitalize; }
  @media only screen and (min-width: 1310px) {
    .section-title {
      border-width: 5px; } }

@media only screen and (min-width: 1310px) {
  .section-title {
    width: 100%;
    max-width: 1196px; } }

.preview-container {
  margin: 0 auto;
  max-width: 1290px;
  width: 100%; }
  .preview-container .project-preview {
    border: 2px solid #112212;
    font-size: 20px;
    height: 325px;
    margin: 18px auto;
    min-width: 900px;
    position: relative;
    width: 90%; }
    .preview-container .project-preview p {
      margin: 10px; }
    .preview-container .project-preview .image {
      border: solid 1px #78C0A8;
      float: left;
      height: 300px;
      margin: 10px 15px 10px 10px;
      position: relative;
      width: 350px;
      z-index: 1; }
    @media only screen and (min-width: 1310px) {
      .preview-container .project-preview .image {
        margin: 10px; } }
    .preview-container .project-preview .title-bg {
      background-color: #78C0A8;
      height: 70px;
      position: absolute;
      top: 0;
      width: 100%; }
    @media only screen and (min-width: 1310px) {
      .preview-container .project-preview .title-bg {
        height: 370px; } }
    .preview-container .project-preview .title {
      font-family: 'VT323', monospace;
      color: #112212;
      font-size: 50px;
      padding-bottom: 20px;
      position: relative;
      z-index: 1; }
    @media only screen and (min-width: 1310px) {
      .preview-container .project-preview .title {
        font-size: 40px;
        padding-bottom: 10px; } }
    .preview-container .project-preview .technologies-label {
      font-family: 'VT323', monospace;
      font-size: 35px; }
    @media only screen and (min-width: 1310px) {
      .preview-container .project-preview .technologies-label {
        font-size: 25px; } }
    .preview-container .project-preview .technologies {
      color: #333;
      font-size: 24px;
      font-weight: bold; }
    @media only screen and (min-width: 1310px) {
      .preview-container .project-preview .technologies {
        font-size: 18px; } }
    .preview-container .project-preview .description {
      color: #333;
      font-size: 20px;
      height: 140px;
      line-height: 20px;
      overflow: hidden; }
    @media only screen and (min-width: 1310px) {
      .preview-container .project-preview .description {
        height: 60px;
        font-size: 14px; } }
  @media only screen and (min-width: 1310px) {
    .preview-container .project-preview {
      display: inline-block;
      vertical-align: top;
      margin: 28px;
      width: 370px;
      min-width: 370px;
      height: 510px;
      font-size: 16px; } }

.back-button {
  background-color: #F07818;
  border-style: solid;
  border-width: 10px;
  border-color: #b2591a #FFA024 #FFA024 #b2591a;
  padding: 0;
  margin: 0;
  font-family: 'VT323', monospace;
  cursor: pointer;
  font-size: 40px;
  font-weight: normal;
  margin: 20px auto;
  text-align: center;
  text-transform: capitalize;
  width: 200px; }
  @media only screen and (min-width: 1310px) {
    .back-button {
      border-width: 5px; } }

.project {
  border: 2px solid #112212;
  font-size: 20px;
  margin: 18px auto;
  min-height: 650px;
  min-width: 900px;
  position: relative;
  width: 90%; }
  .project span {
    padding: 0;
    margin: 0; }
  .project p {
    margin: 0 30px 10px 30px;
    padding: 0; }
  .project h3 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    margin-left: 5%; }
  .project .title-bg {
    display: none; }
  @media only screen and (min-width: 1310px) {
    .project .title-bg {
      display: block;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 190px;
      background-color: #78C0A8; } }
  .project .main-container {
    background-color: #78C0A8;
    position: relative;
    width: 100%;
    z-index: 1; }
  @media only screen and (min-width: 1310px) {
    .project .main-container {
      background-color: transparent;
      float: left;
      margin: 10px;
      width: 670px; } }
  .project .copy-container {
    position: relative;
    z-index: 1; }
    .project .copy-container .link-container {
      background-color: #78C0A8;
      margin-top: -2px;
      padding-bottom: 10px; }
    @media only screen and (min-width: 1310px) {
      .project .copy-container .link-container {
        margin-top: 30px;
        background-color: transparent; } }
  .project .image {
    border: solid 1px #112212;
    margin: 0 0 20px 5%;
    width: 90%; }
  @media only screen and (min-width: 1310px) {
    .project .image {
      width: 600px; } }
  .project .title {
    font-family: 'VT323', monospace;
    color: #112212;
    font-size: 50px;
    padding: 20px 0;
    z-index: 1; }
  .project .label {
    font-family: 'VT323', monospace;
    color: #112212;
    font-size: 35px; }
  .project .technologies {
    color: #112212;
    font-size: 24px;
    font-weight: bold; }
  .project a {
    color: #112212;
    font-size: 24px;
    font-weight: bold; }
  .project .description {
    color: #333;
    font-size: 20px;
    margin: 30px;
    white-space: pre-line; }

.achievementBar {
  background-color: #2c5949;
  bottom: 0;
  cursor: default;
  height: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  position: fixed;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch; }
  .achievementBar::-webkit-scrollbar {
    display: none; }
  .achievementBar .achievement {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    margin: 10px;
    width: 80px; }
    .achievementBar .achievement .locked {
      -webkit-filter: brightness(0%);
      -moz-filter: brightness(0%);
      -o-filter: brightness(0%);
      -ms-filter: brightness(0%);
      filter: brightness(0%); }
