.bold {
  font-weight: bold; }

html, body {
  padding: 0;
  margin: 0;
  background-color: #694A59;
  color: #F5E9CE; }

a {
  color: #F8C857; }

header {
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: #53334F; }

.content {
  padding: 100px 0;
  margin: auto;
  width: 100%;
  max-width: 1300px; }

.title {
  padding: 0;
  margin: 0;
  float: left;
  width: 350px;
  font-size: 38px;
  text-align: center; }

.menuButton {
  float: right;
  width: 100px;
  height: 100px;
  background-image: url("../img/menuButton.png");
  background-size: 100px 100px; }

.showNav {
  display: block; }

.hideNav {
  display: none; }

nav {
  padding: 0;
  margin: 0;
  width: 400px;
  position: fixed;
  top: 100px;
  right: 0px;
  float: right; }
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 50px; }
  nav li {
    padding: 0;
    margin: 0;
    width: 400px;
    height: 100px;
    line-height: 100px;
    background-image: url("../img/button.png");
    background-size: 400px 100px;
    text-align: center;
    vertical-align: middle; }
  nav a {
    display: block;
    width: 100%;
    height: 100%; }

@media only screen and (min-width: 1100px) {
  .content {
    padding-top: 0; }
  header {
    position: static;
    height: 50px; }
  .hideNav {
    display: block; }
  .title {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    float: none;
    width: 250px;
    font-size: 20px;
    text-align: center; }
  .menuButton {
    display: none; }
  nav {
    display: inline-block;
    vertical-align: top;
    width: 800px;
    position: static;
    float: none; }
    nav ul {
      padding: 0;
      margin: 0;
      display: inline-block;
      vertical-align: top; }
    nav li {
      padding: 0;
      margin: 0;
      display: inline-block;
      vertical-align: top;
      width: 200px;
      height: 50px;
      line-height: 50px;
      background-image: url("../img/button.png");
      text-align: center;
      vertical-align: middle; } }

.ppContainer {
  font-size: 20px;
  border: 1px solid #000;
  margin: 20px auto;
  width: 90%;
  height: 325px; }
  .ppContainer p {
    margin: 10px; }

.ppImage {
  float: left;
  border: 1px dashed #000;
  margin: 10px;
  width: 350px;
  height: 300px; }

.ppTitle {
  font-weight: bold; }

@media only screen and (min-width: 1100px) {
  .ppContainer {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #000;
    margin: 30px;
    width: 370px;
    height: 450px;
    font-size: 16px; }
    .ppContainer p {
      margin: 10px; }
  .ppImage {
    border: 1px dashed #000;
    margin: 10px;
    width: 350px;
    height: 300px; } }

.achievementBar {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center; }

.achievement {
  display: inline-block;
  margin: 10px;
  height: 80px;
  width: 80px;
  background-color: #fff; }
